#addCollabModal
  text-align center
  .remove-pending-collab
    color #4697d6
    display inline
    cursor pointer
    &:hover
      text-decoration underline
  .modal-content
    background-color rgba(255,255,255, .95)
  .modal-body
    padding 0px
  .inner-content
    padding 15px
    h6 
      padding 0px 15px
    .user-collab, .user-collab-pending
      .online 
        color #59DE59
      .offline
        color #8A8A8A
        
  hr 
    margin 0px