#dashboard
  .photo-book-item
    // -webkit-transition all 200ms ease-out 
    // -moz-transition all 200ms ease-out 
    // -o-transition all 200ms ease-out 
    transition width 200ms ease-out 
    transition height 200ms ease-out 
    //display inline-block
    //margin 10px
    width 160px
    height 120px
    margin-right 10px
    margin-bottom 10px
    border 1px solid #DDDDDD
    border-radius 5px
    padding 5px
    overflow hidden
    background-color #FAFAFA