.notifications-dropdown, .messages-dropdown
  .fa-bell-o, .fa-comments-o
    font-size 20px
.notifications, .messages
  hr 
    margin 5px 0px
  .view-all
    text-align center
  .notification, .message-notif
    color black
    cursor pointer
    text-align center
    text-decoration none
    .text
      padding 2px 5px
    .hover
      &:hover
        //color #428bca
        background #F0F0F0
        text-decoration none