template(name='dashboard')
  #dashboard
    .btn.btn-default#addPhotoBook Add Photo Book
    #photoBooksGrid
      each myphotoBooks
        +photoBookItem

template(name='photoBookItem')
  a.photo-book-item(href='{{pathFor "photoBookPage" _id=this._id}}')
    p #{name}
    .btn-default.btn.open-settings Settings