template(name='dashboard')
  #dashboard
    .btn.btn-default#addPhotoCollection Add Photo Collection
    #photoCollectionsGrid
      each myPhotoCollections
        +photoCollectionItem

template(name='photoCollectionItem')
  .photo-collection-item
    p #{name}
    .btn-default.btn.open-settings Settings