template(name='photoCollectionSettingsModal')
  #photoCollectionSettingsModal.modal.fade(tabindex='-1', role='dialog' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4.modal-title Settings
        .modal-body
          input.form-control#photoCollectionName(type='text', placeholder='Enter name for folder...', value=name, maxlength="25", min="1")
          hr
          if public
            button.btn.btn-default#makePhotoCollectionPrivate Make This Photo Collection Private
            input.photo-collection-public-url.form-control(type="text", name="photo-collection-public-url", value="#{hostURL}{{pathFor 'publicPhotoCollection' _id=_id}}" readonly)
          else
            button.btn.btn-default#makePhotoCollectionPublic Make This Photo Collection Public
          hr
          button.btn.btn-default#addCollab Add / View Collaborators 
            .fa.fa-users
          hr
          if photoCollectionOwner
            hr
            button.btn.btn-danger#deletePhotoCollection
              .fa.fa-trash 
              | Move To Trash
        .modal-footer
          .save-close
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            //-button.btn.btn-primary#save(type='submit') Save changes
          .delete-photo-collection
            .row-fluid
              .col-sm-5.pull-left
                span.pull-right Are you sure?
              .col-sm-7.pull-right
                button.btn.btn-default#cancelDelete(type='button') No Cancel
                button.btn.btn-danger#deletePhotoCollectionConfirm(type='button') Yes throw Photo Collection into the Trash